<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Signup</title>
    </head>
    <body>
        <h2>SignUp for an account</h2>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% end if %}
        <form method="post">
            <input type="text" name="username" placeholder="Enter your Username" required>
            <input type="password" name="password" placeholder="Enter your Password" required minlegnth="8">
            <button type="submit">Register</button>
        </form>
        <p><a href="/login">Back to Login</a></p>
    </body>
</html>
